* {
    box-sizing: border-box;
   
}

body{
    background: sl(257, 7%, 63%);
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30%
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.category p {
     margin-left: 20px;
     cursor: pointer;
}

.category p:hover {
     color: black;
     font-weight: bolder
}

.category h1 {
    color: hsl(260, 8%, 14%);
}

.login {
    display:flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 480px;
}

.signUp {
    width: 90px;
    height: 40px;
    border-radius: 30px;
    background: hsl(180, 66%, 49%);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.signUp:active {
    filter: blur(.8px);
}

.title {
    font-size: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.title img {
     width: 600px;
     height: 400px;
     margin-top: 20px;
     margin-left: 60px;
     z-index: 1
}

.title h1 {
    line-height: 1.9rem;
    color: hsl(260, 8%, 14%);
}

.title p {
    font-size: 23px;
    color: hsl(255, 11%, 22%);
}

footer {
    display: flex;
}

.start-btn {
    width: 170px;
    height: 50px;
    border:none;
    outline:none;
    background:hsl(180, 66%, 49%);
    border-radius: 30px;
    font-size : 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.start-btn:active {
    filter: blur(.8px);
}

.start-btn a {
    text-decoration: none;
    color:white;
}

.search {
    width: 65%;
    height: 120px;
    background: hsl(257, 27%, 26%);
    border-radius: 10px;
    margin-top: 30px;
}

form {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
}

.search-btn:hover {
    cursor: pointer;
}

search-btn:active {
   filter: blur(.8px)
}

.left-flex {
    margin-top: 50px;
}

.url {
    width: 70%;
    height: 60%;
    margin-left: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 20px;
}

.search-btn {
    width: 20%;
    height: 60%;
    margin-left: 20px;
    background: hsl(180, 66%, 49%);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: box-shadow 1s width 1s height 1s ;
}

.search-btn:active {
   width: 19.5%;
   height: 59.5%;
}

.section {
    width: 65%;
    text-align: center;
    margin-top: 50px;
}

.section h1 {
    color:hsl(260, 8%, 14%)
}

.section p {
    color:hsl(0, 0%, 75%);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 80px;
}

.card {

    width: 350px;
    height: 250px;
    background: white;
    border-radius: 10px;
    text-align: start;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.img-bg {
    border-radius: 50%;
    background:hsl(257, 27%, 26%);
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 45px;
    left: 30px;
    padding: 19px;
   
}

.ctl {
    font-size: 20px;
    color:  hsl(260, 8%, 14%);
}

.ctx {
    text-align: start;
    margin-left: 20px;
    margin-right: 15px;
    line-height: 1.6rem;
    position: relative;
    top: -30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.ctx p {
    color: hsl(0, 0%, 75%);
}

.card.detail {
    position: relative;
    top: 45px;
}

.card.customize {
    position: relative;
    top: 90px;
}

.bar {
    position: relative;
    top: 160px;
    width: 20px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    background: hsl(180, 66%, 49%);
}

.boost-ctn {
     width: 100%;
     height: 250px;
     margin-top: 200px;
     background: url("./images/bg-boost-desktop.svg")   hsl(257, 27%, 26%);
     background-size: cover;
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;
     color: white;
}

.boost-btn {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    color: white;
    background: hsl(180, 66%, 49%);
    font-size: 16px;
    border:none;
    outline: none;
}

footer {
    width: 100%;
    height: 400px;
    background: hsl(260, 8%, 14%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 80px 150px;
    color: whitesmoke;
}

.social {
    margin-top: 20px;
}

.social img {
    margin-left: 30px;
}

.show-url {
    width: 65%;
    height: 60px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 20px 0;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.copy {
    width: 70px;
    height: 30px;
    background: hsl(180, 66%, 49%);
    border-radius: 5px;
    outline: none;
    border:none;
    color:white;
    font-family: 'Poppins', sans-serif;
    transform: background 5s
}

.copy:active {
   background: hsl(260, 8%, 14%);
   content: "copied"
}

.http {
    color: black;
}









